$primary: #888acf;
$secondary: #33CEC0;
$body-color: #333;
$font-family-base: Avenir Next, Arial, Sans-Serif;
$font-weight-base: 300;
$h1-font-size: 24px;
$h2-font-size: 18px;
$table-cell-padding-x: 1rem;
$table-cell-padding-y: 1rem;

@import "~bootstrap/scss/bootstrap";